before_install:
    - sudo apt-get update -qq

install:
    - sudo apt-get install -y texlive
    - sudo apt-get install -y texlive-xetex
    - sudo apt-get install -y texlive-lang-german
    - sudo apt-get install -y texlive-bibtex-extra
    - sudo apt-get install -y biblatex

git:
    depth: 3

script:
    - cd Latex/Lernleistung/
    - xelatex --interaction=nonstopmode bll.tex || echo "needs Bibtex"
    - bibtex bll
    - xelatex --interaction=nonstopmode bll.tex
